body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type=text] {
    width: 90%;
    padding: 20px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button {
    float: center;
    width: 25%;
    margin: 20px 20px 20px 150px;
    padding: 12px 12px 12px 0;
    background-color: darkgrey;
    font-size: 30px
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
